@import "variables.scss";

a {
  text-decoration: none;
}
.recommended-post-container , .knowledge-base-container {
  background-color: $darkbackground;
  padding: {
    bottom: 3rem;
  }
}
.recommended-post, .knowledge-base-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 80vw;
  margin: {
    left: auto;
    right: auto;
  }
  color: #FFF;
}
.recommended-post-text, .recent-knowledge-posts {
  span {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    padding: {
      top: 0.8rem;
    }
}

}
.recommended-post-recommended {
  color: $greentext;
  padding: 0
}
.recommended-post-title {
  padding: 0
}
.recommended-post-date, .knowledge-post-info {
  color: $datetext;
}
.recommended-post-excerpt{
 color: $lighttext;
 font-size: 1.2rem;
 line-height: 2rem;
}
.recommended-post-read-more, .knowledge-base-read-more {
  color: $greentext;
}
.posts {
  width: 80vw;
  margin: {
    top: 3.5rem;
    left: auto;
    right: auto;
    bottom: 7rem;
  }
  text-align: center;
}
main img {
  width: 80vw;
  margin: auto;
}

.recent-post {
  line-height: 1.8rem;
  margin: {
    bottom: 4rem;
  }
  color: $text;
  p {
    color: $datetext
  }
}
.recent-post, .recent-knowledge-posts {
  span {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:space-between;
  }
}
.recent-post, .recent-knowledge-posts {
  img {
    max-height: 21vh;
  }
}
.knowledge-base-display {
  position: relative;
}
.knowledge-base-display {
  background-color: $darkbackground;
}

.knowledge-base-title {
  line-height: 2rem;
  padding-top: 0.5rem;
  margin-bottom: 2rem
}
.knowledge-base-read-more {
  margin-bottom: 2rem;
}
.knowledge-post-title {
  color: #FFF;
  margin-bottom: 5rem;
}

.knowledge-base-display:before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 70px solid $darkbackground;
  border-right: 70px solid white;
}
.knowledge-base-display:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid white;
  border-right: 70px solid transparent;
}
.show-more-posts {
  position:relative;
  display: inline-block;
  background-color: $darkbackground;
  padding: 0.3rem 3rem;
  a {
    color: white;
  }
}
.show-more-posts:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 15px solid $darkbackground;
  border-right: 15px solid transparent;
}
.show-more-posts:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-top: 15px solid $darkbackground;
  border-left: 15px solid transparent;
}

