@import "variables.scss";

a {
  text-decoration: none;
}
.recommended-post-container , .knowledge-base-container {
  background-color: $darkbackground;
  padding: {
    bottom: 7vh;
  }
}
.recommended-post, .knowledge-base-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 80vw;
  margin: {
    left: auto;
    right: auto;
  }
  color: #FFF;
}
.recommended-post-text, .recent-knowledge-posts {
  span {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    padding: {
      bottom: 1.8vh;
    }
}

}
.recommended-post-recommended {
  color: $greentext;
  padding: 0
}
.recommended-post-title {
  padding: 0;
  color: #fff;
}
.recommended-post-date, .knowledge-post-info {
  color: $datetext;
}
.recommended-post-excerpt{
 color: $lighttext;
 font-size: 1.2rem;
 line-height: 2rem;
}
.recommended-post-read-more, .knowledge-base-read-more {
  color: $greentext;
}
.recommended-post-read-more:after, .knowledge-base-read-more:after {
  content:'➜';
  font-size: 0.8rem;
  position: relative;
  left: 13px;
  transition: 0.25s ease-in;
}
.posts {
  width: 80vw;
  margin: {
    top: 8vh;
    left: auto;
    right: auto;
  }
}
main img {
  width: 80vw;
  margin: auto;
}

.recent-post {
  max-width: 410px;
  line-height: 1.8rem;
  margin: {
    bottom: 9vh;
  }
  color: $text;
  p {
    color: $datetext
  }
  img {
    max-width: 410px;
    max-height: 230px;
  }
}
.recent-post, .recent-knowledge-posts {
  span {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:space-between;
  }
}
.recent-knowledge-posts {
  img {
    max-height: 25vh;
  }
}
.knowledge-base-display {
  position: relative;
  background-color: $darkbackground;
  margin: 20vh 0 15vh;
  max-width: 1640px;
}
.knowledge-base-container {
  max-width: 1312px;
}

.knowledge-base-title {
  line-height: 2rem;
  padding-top: 1vh;
  margin-bottom: 5vh;
  h2 {
    font-size: 2rem;
  }
}
.knowledge-post-title {
  color: #FFF;
  margin-bottom: 11vh;
}

.knowledge-base-display:before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 70px solid $darkbackground;
  border-right: 70px solid white;
}
.knowledge-base-display:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid white;
  border-right: 70px solid transparent;
}
.show-more-posts-container {
  width: 80vw;
  margin: auto;
  text-align: center;
}
.show-more-posts {
  position:relative;
  display: inline-block;
  background-color: $darkbackground;
  width: 213px;
  padding: 0.8vh 0;
  margin-bottom:15vh;
  a {
    color: white;
  }
}
.show-more-posts:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 15px solid $darkbackground;
  border-right: 15px solid transparent;
}
.show-more-posts:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-top: 15px solid $darkbackground;
  border-left: 15px solid transparent;
}

@media (min-width: 1024px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .recent-post{
      margin-right: 5vh;
      max-width: 420px;
      img {
        max-width: 100%;
        width: 420px;
        height: auto;
      }
    }
  }

  .knowledge-base-display {
    max-width: 1640px;
    margin: 8vh auto;
    .knowledge-base-title {
      width:100%;
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2.2rem;
      }
    }
    .knowledge-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      .recent-knowledge-posts {
        margin-right: 5vh;
        max-width: 420px;
        &:hover{
          .knowledge-post-title {
            color: $greentext
          }
        }
        img {
          max-width: 100%;
          width: 420px;
          height: auto;
        }
        .knowledge-base-read-more {


          // TUTAJ ZROBIĆ ŻEBY SIĘ PRZESUWAŁO NA HOVER, TEKST NIE STRZAŁKA


        }
      }
    }
  }

  .show-more-posts-container {
    margin-top: 5vh;
  }

  .recommended-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover{
      .recommended-post-title {
        color: $greentext
      }
    }
    .recommended-post-title {
      font-size: 2.5rem;
    }
    .recommended-post-cover {
      width: 55%;
      max-width: 740px;
      margin-right: 55px;
      img {
        width: 100%;
        max-width: 740px;
      }
    }
    .recommended-post-text {
      width: 40%;
      display: flex;
      flex-direction: column;
    }
    .recommended-post-read-more {
      display: flex;
      &:hover{
        &:after{
          left: 30px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .recommended-post-container {
    width: 95vw;
    position: relative;
    padding-bottom: 100px;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 120.00px),calc(100% - 120.00px) 100%,0 100%);
    .recommended-post {
      margin-left: 10vw;
    }
  }
}