@import "variables.scss";

nav {
  width: 80vw;
  background-color: $darkbackground;
  margin: 0;
  padding: 3vh 10vw;
  li {
    list-style-type: none;
    padding: 0;
    line-height: 3.6vh;
    font: {
      size: 1.15rem;
      weight: bold;
    }
  }
}

.nav-link {
  color: $lighttext;
  text-decoration: none;
}
.categories {
  display: none;
}
.breadcrumbs {
  color: $lightertext;
  margin: {
    bottom: 5vh;
  }
}
.categoryName {
  span {
    width: 80%;
  }
  h1 {
    color: #fff;
    margin: {
      bottom: 5vh;
    }
    font-size: 1.8rem;
  }
}