@import "variables.scss";

nav {
  width: 100vw;
  background-color: $darkbackground;
  margin: 0;
  padding: 3vh 10vw 3vh;
}

li {
  list-style-type: none;
  padding: 0;
  line-height: 3.6vh;
  font: {
    size: 1.15rem;
    weight: bold;
  }
}
.nav-link {
  color: $lighttext;
  text-decoration: none;
}
.categories {
  display: none;
}
.breadcrumbs {
  color: $lightertext;
  margin: {
    bottom: 2rem
  }
}
.categoryName span {
  width: 80%;
}
.categoryName h1{
  color: #ffffff;
  margin: {
    bottom: 2rem
  }
  font-size: 8vw;
}