$darkbackground: #051024;
$darkbackgroundtransparent: #051024cc;
$navdarkbackground: #000000;
$lightbackground: #F6F6F6;
$lighttext: #737f99;
$greentext: #3DD44F;
$datetext: #535865;
$text: #051024;
$lightertext: #4c5566;
$transitionfunction: cubic-bezier(0.4, 0, 0.2, 1);
$dotcolor: #737f99;
$dotsize: 7px;